.my-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.my-table {
    background-color: #6e4040;
}